
<div class="todoapp">
  <h1 class="todoapp__title">todos</h1>

  <div class="todoapp__content">
    <header class="todoapp__header">
      <button type="button" class="todoapp__toggle-all active"></button>

      <app-todo-form (save)="addTodo($event)"></app-todo-form>
    </header>

    <section class="todoapp__main">
      <app-todo
        *ngFor="let todo of todosCollection$ | async;
        let i = index"
        [todo]="todo"
        (delete)="deleteTodo('1')"
        ></app-todo>
    </section>

    <footer class="todoapp__footer">
      <span class="todo-count">
      </span>

      <nav class="filter">
        <a
          routerLink="/todos/all"
          routerLinkActive="selected"
          class="filter__link">
          All
        </a>

        <a
          routerLink="/todos/active"
          routerLinkActive="selected"
          class="filter__link">
          Active
        </a>

        <a
          routerLink="/todos/completed"
          routerLinkActive="selected"
          class="filter__link">
          Completed
        </a>
      </nav>

      <button type="button" class="todoapp__clear-completed">
        Clear completed
      </button>
    </footer>
  </div>
</div>
